@charset "UTF-8";

/* --------------------------------
 * Utilities
 * -------------------------------- */

 /*
  * clearfix を適用する
  */
.u-clearfix::before,
.u-clearfix::after {
  content: ' ';
  display: table;
  clear: both;
}
.u-hidden {
  display: none;
}
.u-replaceImage {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* --------------------------------
 * rem setting
 * -------------------------------- */
html {
  font-size: 62.5%;
}
body {
  /*
   * http://stackoverflow.com/questions/20099844/chrome-not-respecting-rem-font-size-on-body-tag
   */
  font-size: 1.0em;
}

/* --------------------------------
 * Base
 * -------------------------------- */
body {
  background-color: #f6f7fb;
  color: #333;
  font-family: "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
  color: #7c5119;
  text-decoration: none;
}

/* --------------------------------
 * Layout
 * -------------------------------- */
 .SiteHeader {
   background-color: #689F38;
 }
 .SiteFooter {
   background-color: #689F38;
 }
